doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body
    div#top
      header.page-header
        h1 #{session} | #{title}
      section#content
        each note in notes
          article(id=note.time).record.row.lead
            p.legend.col-xs-3 #{note.text}
            div.col-xs-9
              
    div#bottom
      section.editor
        form
          fieldset.row
            div.col-xs-3
              textarea(placeholder="Write your notes here.", maxlength=200)#note
              div.btn-group.btn-group-justified
                div.btn-group
                  select#column.form-control
                    option(value='01') colone 1
                    option(value='02') colone 2
                    option(value='03') colone 3
                  input(type="button", value="nouvelle note")#sendNote.btn.btn-success
    //- scripts
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/editor.js')
    script var app = {}; app.session = "#{session}";
    //script console.log(#{notes});
