doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{title}
  body
    header.page-header
      //- h1 #{session} | #{title}
    section#content
      each line in lines
        article.record.row.lead
          p.legend.column.col-xs-3
            span.time #{line.timeString}
            |  #{line.caption}
          for file, folder in line.images
            div.image.column.col-xs-3
              if (file)
                img(src="/#{session}/#{folder}/#{file}").thumb

    //- scripts
    script(src='/js/socket.io.min.js')
    script var app = {}; app.session = "#{session}";
    script(src='/js/jquery-1.11.1.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/feedback.js')