doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/jquery-mousewheel.min.js')
    script(src='/js/index.min.js')
    title #{pageData.title}
  body
    div.container
      h1 #{pageData.title}
      div#recordedlines
      div#formeline.row.bg-info
        form#lineForm
          div.column.legend
            textarea(rows="6", cols="50", placeholder="Share something!", maxlength=200)#legend
          each obj in pageData.images
            div.column.image(foldername="#{obj.folder}")
              select
                each file, key in obj.files
                  option(value="#{file}" index="#{key}") #{file}
              div.images
                each file, key in obj.files
                  img(src="/images/" + obj.folder + "/" + file, alt="", index="#{key}").vignette
          input(type="button", value="Record")#send.btn-primary.btn-lg
