doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{session} | #{recipeId}
  body.print

    div.recette
        img(src='/#{session}/#{recipeId}.png').img-responsive
    
    div.infos
        h1 Recette n°#{recipe.session}#{recipe.id} à #{recipe.humanTime}

    //- scripts
    script(src='/socket.io/socket.io.js')
    script var app = {}; app.session = "#{session}"; app.recipe = "#{recipe}";
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/print.js')