doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/jquery-mousewheel.min.js')
    script(src='/js/redaction.min.js')
    title #{pageData.title}
  body
    div#top
      header.page-header
        h1 #{pageData.title}
      section#recordedlines
    div#bottom
      section#formeline
        hr
        form#lineForm
          div.row
            div.col-xs-3.column.legend
              textarea(rows="6", placeholder="Share something!", maxlength=200)#legend
              div.btn-group.btn-group-justified
                div.btn-group
                  button(type="button").btn-default.btn B
                div.btn-group
                  button(type="button").btn-default.btn /
                div.btn-group
                  input(type="button", value="Record")#send.btn.btn-success
            each obj in pageData.images
              div.col-xs-3.column.images(foldername="#{obj.folder}")
                select
                  each file, key in obj.files
                    if (key)
                      option(value="#{file}" index="#{key}") #{file}
                    if(!key)
                      option(value="#{file}" index="#{key}" selected="selected") #{file}
                div.thumbs
                  each file, key in obj.files
                    img(src="/images/" + obj.folder + "/" + file, alt="", index="#{key}").thumb
                input(type="range", min="1", max="#{obj.length}", step="1", value="1")
          div.row
            div.col-xs-2
              input(type="textfield", placeholder="name")
